
span {
  display: inline-block; /* Ensure the span can be transformed */
  margin: 0;
  padding: 0;
  transform: none; /* Reset any existing transform */
  transition: none; /* Reset any existing transition */
}

.scatter-bo {
  background-image: url('/src/assets/symbol-scatter-BO.svg');
  z-index: 1;
}

.scatter-bo2 {
  background-image: url('/src/assets/symbol-scatter-BO2.svg');
}

.poly-bo {
  background-image: url('/src/assets/polygon-scatter-BO.svg');
}

.poly-bo2 {
  background-image: url('/src/assets/polygon-scatter-BO2.svg');
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.glass-effect {
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  
}

.orange-glass {
  background: rgba(253, 93, 0, 0.904);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
}

.violet-glass {
  background: rgba(139, 92, 246, 0.904);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
}
